<html>

<head>
    <script src="vendor/vue.min.js"></script>
    <style>
        body {
            width: 100px;
            height: 25px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div>{{ item.County}} - UV: {{ item.UVI }}</div>
    </div>

    <script src="popup.js"></script>
</body>

</html>