<template>
  <div id="todos">
    <h1>{{ msg }}</h1>
    <div v-for="(item,index) in items" :key="index">
      <span>
        {{item}}
        <button @click="deleteData(index)">刪除</button>
      </span>
    </div>
    <div>
      <input type="text" v-model="inputData" />

      <button @click="addItem">新增資料</button>
    </div>
    <div>
      <button @click="loadData">讀取資料</button>
      <button @click="saveData">儲存資料</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "todos",
  data() {
    return {
      msg: "Hello vue !",
      inputData: "test",
      items: []
    };
  },
  methods: {
    addItem: function() {
      var item = this.inputData;
      this.items.push(item);
    },
    loadData: function() {
      var vm = this;
      chrome.storage.local.get("tempData", function(result) {
        vm.items = result.tempData;
      });
    },
    saveData: function() {
      chrome.storage.local.set({ tempData: this.items }, function() {
        console.log("Value is set");
      });
    },
    deleteData: function(index) {
      this.items.splice(index, 1);
    }
  }
};
</script>