<html>

<head>
    <script src="vue.min.js"></script>
</head>

<body>
    <div id="app">
        <div id="msg">{{welcom}}</div>
        <button id="btn" @click="change_name"> Click me </button>
    </div>

    <script src="popup.js"></script>
</body>

</html>