<html>

<head>
    <script src="vue.min.js"></script>
</head>

<body>
    <div id="app">
        <div id="msg">{{welcom}}</div>
        <button id="btn" @click="change_name"> Click me </button>
    </div>

    <script>
        let vm = new Vue({
            el: "#app",
            data: {
                welcom: "hello world",
                toggle: false
            },
            methods: {
                change_name: () => {
                    vm.toggle = !vm.toggle

                    if (vm.toggle) {
                        vm.welcom = "hello ching"
                    } else {
                        vm.welcom = "hello wold"
                    }

                }
            }
        })
    </script>
</body>

</html>