
<!-- <script src="./variable.js"></script> -->
<!-- <script src="./condition_loop.js"></script> -->
<!-- <script src="./data_structure"></script> -->
<!-- <script src="./data_type_object.js"></script> -->
<!-- <script src="./function_basic.js"></script> -->
<!-- <script src="./array.js"></script> -->
<!-- <script src="./oop_basic.js"></script> -->
<!-- <script src="./this_usage.js"></script> -->
<script src="./oop_inherit.js"></script>




